/* Site Colors
background: #161A19
font color: #DEFFFB
header: #20FFE3
button: #20FFE3
link: #F5CDB5
visited link: #e0b354
active link: #F5DD73

*/
* {
  box-sizing: border-box;
}

body {
  background-color: #161a19;
  color: #defffb;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

h1 {
  color: #20ffe3;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

a {
  color: #f5cdb5;
  text-decoration: none;
}

a:visited {
  color: #e0b354;
}

a:hover,
a:focus {
  color: #20ffe3;
}

a:active {
  color: #f5dd73;
}

button,
.button {
  background-color: #20ffe3;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: black;
  font-family: inherit;
  padding: 10px;
  text-decoration: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.25s ease-in-out;
}

table {
  width: 50%;
}

td:nth-child(2) {
  text-align: center;
}

td:last-child {
  text-align: right;
}

input {
  display: inline-block;
}

/* Header */

.page-header {
  display: flex;
  padding: 20px;
  width: 100%;
  flex: 0 1 200px;
  margin-top: 10px;
  margin-bottom: 5%;
}

.page-header__item {
  width: 250px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}


/* Navigation section */

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
}

.navigation-list__item {
  color: #defffb;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item:active,
.navigation-list__item:visited {
  color: #defffb;
}

.navigation-list__item:hover {
  color: #20ffe3;
  transition: all 0.25s ease-in-out;
}

/* Profile Section */

.header__left {
  text-align: left;
}

.profile {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 10%;
}

.profile__portrait {
  border-radius: 50%;
  float: left;
  margin-right: 40px;
  width: 250px;
}

.profile-copy {
  align-self: center;
}

/* About Page */

.about {
  display: block;
  text-align: center;
}

.experience-table {
  margin: 0 auto;
  margin-bottom: 5%;
}

/* Contact Page */

.contact {
  display: block;
  justify-content: center;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 25%;
  margin: 0 auto;
}

/* Work Section */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  border: 1px solid #defffb;
  padding: 10px;
}

.grid__item:hover {
  background-color: #119c8b;
  opacity: 80%;
}

.grid__item-header {
  margin-top: 10px;
  text-align: center;
}

/* Footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social__logo {
  cursor: pointer;
}

.social__logo:hover {
  opacity: 0.5;
  transition: all 0.25s ease-in-out;
}
